.header-spacer {
    flex: 1 1 auto;
    transform: perspective(1000px) rotateX(10deg);
}

.mat-toolbar {
    background: repeating-radial-gradient(45deg, #dedede, #e2e1e1 10px, #ececec 10px, #ffffff 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 50px;

}