<mat-toolbar>
    <button mat-icon-button class="header-icon" aria-label="header icon-button with menu icon"
        (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>BillQuick GST</span>
    <span class="header-spacer"></span>
    <button mat-icon-button class="header-icon" aria-label="header icon-button with heart icon">
        <mat-icon>person</mat-icon>
    </button>
    <!-- logout button with icon in material  -->
    <button mat-icon-button class="header-icon" aria-label="header icon-button with heart icon">
        <mat-icon>exit_to_app</mat-icon>
    </button>

</mat-toolbar>