.add-product-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.add-product-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

@media screen and (max-width: 768px) {
    mat-form-field {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {

    mat-form-field {
        width: 48%;
        margin: 0 1%;
    }
}

.add-product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-weight: 800;
    font-size: larger;
}

.product-save {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-error {
    font-size: 10px;
    color: red;
}

.uploaded-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: perspective(500px) rotateY(10deg);
}


.uploaded-image-card {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 20px;
}

.upload-button-image {
    display: flex;
    justify-content: start;
    align-items: center;

}