<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <mat-nav-list>
      <!-- Add your navigation links here -->
      <!-- mat icon for dashboard -->
      <div> <a mat-button [routerLink]="['/dashboard']">
          <mat-icon>dashboard</mat-icon>
          <span>Home</span>
        </a></div>
      <div> <a mat-button [routerLink]="['/customer']">
          <mat-icon>people</mat-icon>
          <span>Customers</span>
        </a></div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>