@import '~material-design-icons/iconfont/material-icons.css';

.mat-input {
    margin-top: 20px;
    margin-bottom: 20px;

}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content.sidenav-content {
    height: 100vh;
}